@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap.scss';

html {
    height: 100%;
    body {
        color: $dark-blue;
        height: 100%;
        min-height: 100%;
        #root {
            height: 100%;
            min-height: 100%;
            .App {
                min-height: 100%;
                position: relative;
            }
        }
    }
}


#title {
    z-index: 1;
    min-width: $width;
    height: 600px;
    background: url(./onedot-background.jpg) no-repeat center center;
	background-size: cover;
    position: relative;
    text-align: center;
    padding: 250px 0 0 0;
    color: $dark-blue;
    h1 {
        font-weight: 700;
        font-size: 3rem;
    }
}

#navbar {
    z-index: 10;
    position: relative;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    min-width: $width;
    background-color: #F4F4F4;
    color: $main-blue;
    font-weight: 700;
    ul {
        margin: 0;
        padding: 20px 0 20px 40px;
        list-style-type: none;
        &.hide {
            display: none;
        }
        li {
            display: inline-block;
            width: 30%;
            min-width: 150px;

            &.new-dict {
                padding-right: 40px; 
                float: right;
                
                
                text-align: right;
                div {
                    cursor: pointer;
                    width: 50px;
                    float: right;
                    &:hover {
                        color: $dark-blue;
                    }
                }
            }
        }
            
        
    }
}

#dictionary-list {
    min-width: $width;
    color: $dark-blue;
    &.hide {
        display: none;

    }
    .empty-list {
        margin: 0 auto;
        text-align: center;
        padding: 50px;
        color: grey;
        span {
            cursor: pointer;
            font-weight: bold;
            color: $dark-blue;
        }
    }
    ul {
        margin-top: 0;
        list-style-type: none;
        padding: 0;
        li {

            
            margin-top: 20px;
            padding: 15px 0 15px 40px;
            border-top: solid 2px transparent;
            border-bottom: solid 2px transparent;

            &:hover {
                border-top: solid 2px $main-blue;
                border-bottom: solid 2px $main-blue;
                background-color: transparentize($main-blue, 0.6);

            }

            .item {
                div {
                    display: inline-block;
                    &.name, &.date {
                        width: 30%;
                        min-width: 150px;
                    }

                    &.date {
                        font-family: Arial, Helvetica, sans-serif;
                    }

                    &.edit {
                        padding: 5px 10px 5px 10px;
                        color: $main-blue;
                        border: solid 2px $main-blue;
                        cursor: pointer;
                        margin-right: 30px;

                        &:hover {
                            background-color: $main-blue;
                            color: $body-bg;
                        }
                    }
                    &.delete {
                        color:grey;
                        font-size: 80%;
                        cursor: pointer;

                        &:hover {
                            color: $carrot-red;
                        }

                        .fas {
                            margin-right: 7px;
                        }
                    }
                    
                }
            }
        }
    }
}

#editor {
    min-width: $width;
    margin-top: 30px;
    &.hide {
        display: none;
    }

    .pair {
        margin-top: 10px;
        padding: 10px 0 10px 40px;
        border-top: solid 2px transparent;
        border-bottom: solid 2px transparent;

        &.danger {
            input {
                border-color: $carrot-red;
            }
        }

        &.warning {
            input {
                border-color: $warning;
            }
        }

        &:hover {
            border-top: solid 2px $main-blue;
            border-bottom: solid 2px $main-blue;
            background-color: transparentize($main-blue, 0.6);

            &.danger {
                border-top: solid 2px $carrot-red;
                border-bottom: solid 2px $carrot-red;
                background-color: transparentize($carrot-red, 0.6);
                    input {
                        border-color: $carrot-red;
                    }
            }

            &.warning {
                border-top: solid 2px $warning;
                border-bottom: solid 2px $warning;
                background-color: transparentize($warning, 0.6);
                    input {
                        border-color: $warning;
                    }
            }

        }

        .input-container {
            width: 30%;
            min-width: 150px;
            display: inline-block;
        }
        
        .fas {
            color: grey;
            display: none;
            margin-right: 30px;
            &.delete{
                display: inline;
                cursor: pointer;
                &:hover {
                    color: $carrot-red;
                }
            }
            &.dublicated, &.chained, &.forked {
                color: #FFCB49;
                display: inline;
            }
            &.cycled {
                color:$carrot-red;
                display: inline;
            }
            &.passed {
                color: $main-blue;
                display: inline;
            }
        }
    }
    
    .save-container {
        margin-top: 40px;
        
        padding: 10px 0 10px 40px;

        .input-title {
            display: inline-block;
        }
        .save, .validate {
            display: inline-block;
            margin-left: 30px;
            padding: 8px 20px;
            border: solid 3px $main-blue;
            width: 101px;
            text-align: center;
            font-weight: bold;
            color: $main-blue - 50;
            cursor: pointer;

            &:hover {
                background-color: $main-blue;
                color: $body-bg;
            }
        }

        .validate {
            border-color: $carrot-red;
            width: 110px;
            color: $carrot-red - 50;

            &:hover {
                background-color: $carrot-red;
            }
        }
        
    }
}
#modal {
    min-width: 400px;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 30%;
    z-index: 11;
    &.hide {
        display: none;
    }
    .modal-container {
        width: 300px;
        margin: 0 auto;
        padding: 0px 10px 20px 10px;
        border: solid 2px $carrot-red;
        background-color: $body-bg;
        
        h3 {
            margin-top: 30px;
            color: $carrot-red - 40;
        }
        h5 {
            margin-top: 30px;
            color: $carrot-red - 10;
        }
        .ok {
            display: inline-block;
            margin-top: 30px;
            color: $carrot-red;
            border: solid 2px $carrot-red;
            width: 100px;
            margin-left: 5px;
            margin-right: auto;
            cursor: pointer;
            &:hover {
                background-color: $carrot-red;
                color: $body-bg;
            }
        }
        .cancel {
            display: inline-block;
            margin-top: 30px;
            color: grey;
            border: solid 2px grey;
            width: 100px;
            margin-left: auto;
            margin-right: 5px;
            cursor: pointer;
            &:hover {
                background-color: grey;
                color: $body-bg;
            }
        }
    }
}

#footer {

    min-width: $width;
    width: 100%;
    text-align: right;
    margin-top: 50px;
    position: relative;
    box-shadow: 0px 2px 20px rgba(0,0,0,0.7);
    padding: 30px 30px;
    z-index: 10;
    background-color: $main-blue;
    color: $main-blue - 90;
    .text{
        a {
            text-decoration: none;
            color: $dark-blue - 10;
            &:hover {
                color: $body-bg;
            }
        }
    }
}